/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #970158, #00026e, #000000);
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    text-align: center;
    padding: 20px 0;
    position: relative;
    overflow: hidden; 
}

header h1 {
    color: #fdbb2d;
    font-size: 2.5em;
    margin-bottom: 40px; 
    position: relative;
    z-index: 2; 
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1200 100" xmlns="http://www.w3.org/2000/svg"><path d="M0,0 C300,100 900,100 1200,0 L1200,100 L0,100 Z" fill="%23fdbb2d"/></svg>') repeat-x;
    background-size: 200% 100%;
    animation: wave 5s linear infinite;
    z-index: 1; 
}

@keyframes wave {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -2400px 0; 
    }
}

/* Menu styles */
.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.menu-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-item i {
    font-size: 3em;
    color: #fdbb2d;
    margin-bottom: 10px;
}

.menu-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    color: #fdbb2d;
}

.menu-item p {
    font-size: 1em;
    text-align: center;
}

/* Responsive styles */
@media (max-width: 768px) {
    .menu {
        grid-template-columns: 1fr;
    }
    header h1{
        font-size: 2em;
    }
}